body {
    display: flex;
    background-color: #afe0ef;
    color: black;
    padding-top: 50px;
    font-family: 'Inconsolata', monospace;
}

.button {
    background-color: #3c78d8;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.home-buttons {
    background-color: white;
    color: black;
    font-family: 'Inconsolata', monospace;
}

.New, 
.Pending {
    width: 150px;
}
.New {
    background-color: #ff667a;
    /* color: white; */
}

.Pending {
    background-color: #bbe991;
}

div {
    width: 100%;
    height: 1fr
}

#yellow {
    background-color: #face2f;
}

#blue {
    background-color: #afe0ef;
}

/* .contents {
    background-color: #f2f2f2;
     width: 80vw;
    height: 100vw; */
    /* padding: 20vw; */
    /* overflow-y: scroll;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
} */

.yamlcontents {
    background-color: #f2f2f2;
     width: 95%;
    height: 200px;
    padding: 2px;
    overflow-y: scroll;
    border: solid;
    margin: 15px;
}

.graphcontents {
    display: flex;
    width: 95%;
    height: 200px;
    border: solid;
    position: relative;
    margin: 10px;
}

.yamlpagecontents {
    display: flex;
    background-color: #f2f2f2;
     width: 85vw;
    height: 60vw;
    /* padding: 20vw; */
}

#list {
    display: flex;
    flex-direction: column;
    background-color: #face2f;
    width: 95%;
    height: 95%;
    padding: 5px;
    
}
.problemdiv {
    width: 80vw;
}

.problemobject {
    /* display: table-row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /* grid-template-areas: 
    "left right"
    "bottom bottom"; */

    width: 100%;
    height: auto;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #d4ac80;
    justify-content: center;
    box-shadow:5px 5px 15px -5px #c9a66a;
    border-radius: 2px;
    padding: 4px;
}

/* .problemobject >  */
#left {
    /* grid-area: left; */
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    float: left;
}
/* .problemobject >  */
#right {
    /* grid-area: right; */
    align-items: right;
    float: right;
    justify-self: center;
}

button {
    margin: 2px;
    float: right;
}
/* Styling for navbar */
.nav {
    padding-left: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: right;
    position: fixed;
    top: 0;
    padding: 0.5rem 0rem;
    background-color: rgb(25, 135, 246);
    color: rgb(250, 249, 249);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.welcome {
    padding-left: 20px;
}


#welcome-page {
    display: flex;
}

u {
    color: white;
}

.visualization-grid {
    /* grid-area: bottom; */
    width: 100%;
    display: grid;
    grid-template-areas: "left right";
    border: solid;
    background-color: white;
}

.left-grid {
    grid-area: left;
    display: flex;
    flex-direction: column;
    
}

.right-grid {
    grid-area: right;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 2px; */
}

.graph-container{
    background-color: white;
    text-align: center;
}

.alert-contents {
    display: flex;
    flex-direction: column;
}

.fixcontents {

}